body{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(45, 241, 15);
    display: flex;
    justify-content: space-around;    
}
input{
    background: none;
    width: 100px;
    height: 20px;
    margin: 20px;
    border-radius: 10px;
}
h1{
    margin: 20px;
}
.account{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.account h4{
    margin: 10px;
    padding: 10px;
}
.footer{
    background-color: #000;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.links{
margin-top: 10px;
}
.links ul{
    list-style: none;
    text-align: left;
    
}
.links ul li{
    margin: 10px;
}
.links ul li a{
    
    color: #fff;
    text-decoration: none;
}
.links ul li a:hover{
    margin-right: 20px;
    color: rgb(241, 75, 75);
}

